body {
    background-image: url(https://besthqwallpapers.com/Uploads/21-7-2020/137740/blue-creative-background-blue-lines-background-technology-blue-background-lines-blue-background.jpg);
    display: flex;
    align-items: center;
}